.forget-errors
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
xcolor:#F59DC0;
xtext-decoration:underline;
}
.forget-text
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#999999;
xtext-decoration:underline;
}
