@charset "utf-8";
/* CSS Document */
.arrowlistmenu{
width: 204px;
max-height:460px;
float:left;
overflow:auto;
overflow-x:hidden;
margin: 5px 0 0 26px; /*width of accordion menu*/
}
.menuheader expandable
{
margin:2px 0px 0px 0px;
}
.arrowlistmenu .menuheader{ /*CSS class for menu headers in general (expanding or not!)*/
color: #000000;
background:#dfdfdf;
margin:0px 0px 3px 0px; /*bottom spacing between header and rest of content*/
padding: 10px  0 4px 10px; /*header text is indented 10px*/
/*cursor: hand;*/
cursor: pointer;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
  width: 230px;
 
}

.arrowlistmenu .openheader{ /*CSS class to apply to expandable header when it's expanded*/
background-image: url(titlebar-active.png);
background:#efefef;
margin:5px 0px 3px 0px;
}

.arrowlistmenu ul{ /*CSS for UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0; /*bottom spacing between each UL and rest of content*/
}

.arrowlistmenu ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/
}

.arrowlistmenu ul li a{
color: #3b9920!important;
background:#ededed; /*custom bullet list image*/
display: block;
padding: 7px 0 3px 10px;
text-decoration: none;
font-weight: bold;
xborder-bottom: 1px solid #dadada;
font-size: 14px;
margin:0px 0px 1px 0px;
width: 230px;
min-height:29px !important;
height:auto;
}

.arrowlistmenu ul li a:visited{
color: #A70303;
}

.arrowlistmenu ul li a:hover{ /*hover state CSS*/
xcolor: #A70303;
xbackground-color: #F3F3F3;
}

