{% extends 'admin/treatment.html' %}
{% load i18n %}

{% block extrahead %}
	{{block.super}}
	<script type="text/javascript">
	$(document).ready(function(){
		document.getElementById("tr_cr").style.backgroundImage = 'url("/static/img/admin/hover_otp.png")';
		document.getElementById("current2").style.color= "#fff";
	});
	function save(){
		$('#id_animation_form').submit();
	}
	</script>
{% endblock %}


{% block content%}
<div id="treat_content"><!--treat_content start-->
	
	{% block treatleft %}
		{{ block.super }}
	{% endblock %}
	
	<div id="right_treat_content"><!--right_treat_content start-->
	
		{% block righttreat %}
			{{ block.super }}
		{% endblock %}
		
		<div id="therapist_content" style="width:687px !important; margin:0px 0px 0px 6px; border-radius:0px 0px 10px 10px; padding: 1em 1.4em;"><!--therapist_content start-->
        	<div id="tabs-1">
           		<form enctype='multipart/form-data' name='animation_form' id='id_animation_form' action='.' method='post'>{% csrf_token %}
					<table id="tab_table" cellpadding="5">
                		<tbody>
                			<tr>
                    			<td id="mine" class="label" style="font-size:15px;font-family: 'myriad pro'; color:#7C7C7C;font-weight:normal;" >{{form.module.label}}</td>
                     			<td>{{form.module}}</td>
                			</tr>
                			<tr>
                				<td></td><td><span class="forget-errors">{{form.module.errors}}</span></td>
                			</tr>
                			<tr>
                    			<td id="mine" class="label" style="font-size:15px;font-family: 'myriad pro'; color:#7C7C7C;font-weight:normal;" >{{form.animation.label}}</td>
                     			<td>{{form.animation}}</td>
                			</tr>
                			<tr>
                				<td></td><td><span class="forget-errors">{{form.non_field_errors}}{{form.animation.errors}}</span></td>
                			</tr>
                		</tbody>
	                </table>
                   <div id="treat_submit">
                        <div id="sav_treat" onclick="save()" style="cursor:pointer;"><p class="save_treat">{% trans "Submit" %}</p></div>
                   </div>
                </form>
            </div>
        </div><!--therapist_content end-->
        
	</div>
	
</div>     		
{% endblock %}