{% extends 'base.html' %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" href="/static/css/admin/page_count.css" type="text/css" />
<style>
	.list1
	{
	background: url("/static/img/admin/f.png") repeat-x scroll left top transparent !important;
	}
	.list1 a
	{
	color:#7CC744 !important;
	}
</style>
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	$(".first:even").css("background-color","#f7f7f7");

	$('#page_number').val({{ companylist.number }}).change(function(){
		var number = $(this).val();
		window.location.href = '/admin_management/company_list/?page=' + number
	});
	
	if ( ("{{ key }}" != '{% trans "SEARCH" %}') && ("{{ key }}" != "None") ) {
		$("#id_search_field").val("{{ key }}");
	}

	$("#selectall").click(function () {
		$('.case').attr('checked', this.checked);
		});
 	
	$(".case").click(function(){
			if($(".case").length == $(".case:checked").length) {
				$("#selectall").attr("checked", "checked");
			}
			else {
				$("#selectall").removeAttr("checked");
			}
		
		});	
	
});	

$(document).keypress(function(event){
	var keycode = (event.keyCode ? event.keyCode : event.which);
	if(keycode == '13'){
		var keyword = $("#id_search_field").val();
		if ( keyword == '{% trans "SEARCH" %}') {
			keyword = '';
		}
		if ((keyword != '')){
			window.location.href = "/admin_management/company_list/?key=" + keyword
		}
		window.location.href = "/admin_management/company_list/?keyword=" + keyword
		
	}
});

function keyword(){
	var keyword = $("#id_search_field").val();
	if ( keyword == '{% trans "SEARCH" %}') {
		keyword = '';
	}
	if (keyword != ''){
		window.location.href = "/admin_management/company_list/?key=" + keyword
	}
	window.location.href = "/admin_management/company_list/?keyword=" + keyword
	
}
function form_submit(){
	var confirmed = confirm('{% trans "Are you sure want to delete this post?" %}');
    return confirmed;
}

function delete_form()
{
	if($(".case:checked").length == 0)
	{
	alert('{% trans "Select atleast one record to delete" %}');
	return
	}
	var confirmed = confirm('{% trans "Are you sure want to delete?" %}');
	if(confirmed)
	{
		document.company_list.action ="/admin_management/company_delete/";
    	$('#id_company_list').submit()
	}
	else
		{
		window.location = "/admin_management/company_list/";
		}
} 
</script>
{% endblock %}

{% block content %}
<form name = "company_list" id = "id_company_list" action="." method="POST" >{% csrf_token %}
	<div id="banner_left">
		<p class="left_content">{% trans "Companies" %}</p>
	</div>
	
	<div id="new_banner_right"><!--banner_right start-->  
		<div id="search"><input type="text" name="place" placeholder='{% trans "SEARCH" %}' style="width:213px; height:30px; border-radius:10px; border:none; font-size:12px; color:#aeaeae; font-family:Arial;margin:0px 0px 0px 10px;" id="id_search_field"/></div>
	  	  	
		<div class="searc">
			<a href="#">
				<img src="/static/img/admin/search.png" alt="searchbox" onClick="keyword();" />
			</a>
		</div>
		
	    <div id="add1"><a href="/admin_management/company_add/" style="text-decoration:none;">{% trans "Add New Company" %}</a></div>
	    <div id="sav" onclick = "delete_form()"><a href="#" class="save">{% trans "Delete" %}</a></div>
	</div><!--banner end-->
	 
	<div class="clear"></div>
	
	<div id="p1" class="pagedemo _current" style=""><!--Page 1 start-->
	   	<div class="my_contact"	><!--my_contact start-->
	   		<table class="features-table" width="auto" height="auto" cellpadding="10" style="border-left:1px solid #d0d0d0;" >
	            <thead>
	            	<tr style="padding:3px;" cellpadding="15" id="heading" >
		                <th class="numb" style="width:100px;"><a href="#"><input type="checkbox" name="master"  value="head" id="selectall" /> </th>
		                <th class="numb" style="width:290px;border-left:1px solid #d0d0d0;">{% trans "Name" %}</th>
		                <th class="numb" style="width:290px;border-left:1px solid #d0d0d0;">{% trans "Company Number" %}</th>
		                <th class="numb" style="width:290px;border-left:1px solid #d0d0d0;">{% trans "E-Mail" %}</th>
						<th class="numb" style="width:290px;border-left:1px solid #d0d0d0;">{% trans "Contact Number" %}</th>
		                <th class="numb" style="width:202px;border-left:1px solid #d0d0d0;">{% trans "Clients" %}</th>              
						<th class="numb" style="width:202px;border-left:1px solid #d0d0d0;">{% trans "Modified At" %}</th>
	                </tr>
	       		</thead>
		       	{% if companylist.object_list %} 
	       			{% for companies in companylist.object_list %}
	    	    	    <tr class="first" style=" background:#F5F2F3;">
	    	    	    	<td class="numb" style="text-align:center;"><input type="checkbox" name="choices" value={{companies.id}} class="case"  /></td>
				            <td class="numb" style="text-align:center;border-left:1px solid #d0d0d0;"><a href="/admin_management/company_edit/{{companies.id}}/">{{companies.company_name}}</a></td>
				            <td class="numb" style="text-align:center;border-left:1px solid #d0d0d0;">{{companies.company_number}}</td>
			                <td class="numb" style="text-align:center;border-left:1px solid #d0d0d0;">{{companies.email}}</td>
			                <td class="numb" style="text-align:center;border-left:1px solid #d0d0d0;">{{companies.country_code}}-{{companies.phone_number}}</td>
			                <td class="numb" style="text-align:center;border-left:1px solid #d0d0d0;">{{companies.number_of_clients}}</td>
							<td class="numb" style="text-align:center;border-left:1px solid #d0d0d0;">{{companies.modified_at}}</td>
			            </tr>
	            	{% endfor %}
	        	{% else %}
	        		<tr class="first" style=" background:#f7f7f7;">
	        			<td colspan="6" align="center" height="50px" class="numb" >{% trans "No companies found" %}</td>
	        		</tr>
	        	{% endif %}
			</table>
	    </div> <!--my_contact end-->
	</div> <!--Page 1 END-->
	
	{% if companylist.object_list %}   	
		<div class="pagination" align="center">
		   	<table style="border: 0px; margin-top:15px;" width="15%">
		   		<tbody>
		   			<tr>
		   				<td width="10%" align="left">
					        {% if companylist.has_previous %}
						            <a href="?page={{ companylist.previous_page_number }}"><img src="/static/img/admin/left1.png" /></a>
					        {% endif %}
		   				</td>
		   				<td width="80%" align="center">
							<select id="page_number">
								{% for each in num_pages %}
									<option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
								{% endfor %}
							</select>
		   				</td>
		   				<td width="10%" align="right">
					        {% if companylist.has_next %}
					            <a href="?page={{ companylist.next_page_number }}"><img src="/static/img/admin/rr1.png" /></a>
					        {% endif %}
		   				</td>
		   			</tr>
		   		</tbody>
		   	</table>
		</div> 
	{% endif %}  	
</form>	 
{% endblock %}	