{% extends 'admin/company_select.html' %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/static/css/admin/tabmenu.css" />
<link rel="stylesheet" href="/static/css/admin/datepicker.css" type="text/css"/>
<style>
	.list1
	{
	background: url("/static/img/admin/f.png") repeat-x scroll left top transparent !important;
	}
	.list1 a
	{
	color:#7CC744 !important;
	}
</style>
{% endblock %}

{% block extrahead %}
<script src="/static/js/datepic.js" type="text/javascript"></script>
<script src="/static/js/datepic1.js" type="text/javascript"></script>
<script type="text/javascript">

$(document).ready(function(){
	if('{{read_only}}' == "readonly"){
		$("input, textarea, select").attr('disabled',true).css('color','#5B5B5B');
		$("#sav").hide();
	}
	$("#id_company_number").attr("readonly", true);
	$('#id_from_date, #id_expiry_date').attr('readonly', true);
	document.getElementById("the").style.backgroundImage = "url(/static/img/admin/Therapistmain.png)";
	document.getElementById("current").style.color= "#fff";
	$(".datepicker").datepicker({"dateFormat": 'mm/dd/yy', changeMonth:true, changeYear:true, yearRange: "-65:-14", defaultDate: '+0m+0d-14y' });
	$(".datepicker_from").datepicker({"dateFormat": 'mm/dd/yy', changeMonth:true, changeYear:true, minDate: '0',
		onSelect: function(selected) {
	          $(".datepicker_to").datepicker("option","minDate", selected)
	        }});
	$(".datepicker_to").datepicker({"dateFormat": 'mm/dd/yy', changeMonth:true, changeYear:true, minDate: '0', 
		onSelect: function(selected) {
	          $(".datepicker_from").datepicker("option","maxDate", selected)
	        }});
	
});
function save(){
	$('#id_company_form').submit();
}
</script>

{% endblock %}


{% block content%}
	{% block submenu %}
		{{block.super}}
	{% endblock %}
<div id="therapist_content"><!--therapist_content start-->
	<form enctype='multipart/form-data' name='company_form' id='id_company_form' action='.' method='post'>{% csrf_token %}
		<div class="tabl">
			<table  id="tab" cellpadding="5">
	            <tr><td class="td_add">{{ form.company_name.label }}</td><td>{{ form.company_name }}</td></tr>
				<tr><td></td><td><span class = "forget-errors">{{ form.company_name.errors }}</span></td></tr>
				<tr><td class="td_add" >{{ form.address.label }}</td><td>{{ form.address }}</td></tr>
				<tr><td></td><td><span class = "forget-errors">{{ form.address.errors }}</span></td></tr>
				<tr><td class="td_add">{{ form.zip_code.label }}</td><td>{{ form.zip_code }}</td></tr>
				<tr><td></td><td><span class = "forget-errors">{{ form.zip_code.errors }}</span></td></tr>
				<tr><td class="td_add">{{ form.place_name.label }}</td><td>{{ form.place_name }}</td></tr>
				<tr><td></td><td><span class = "forget-errors">{{ form.place_name.errors }}</span></td></tr>
				<tr><td class="td_add">{{ form.country.label }}</td><td>{{ form.country }}</td></tr>
				<tr><td></td><td><span class = "forget-errors">{{ form.country.errors }}</span></td></tr>
				<tr><td class="td_add">{{ form.email.label }}</td><td>{{ form.email }}</td></tr>
				<tr><td></td><td><span class = "forget-errors">{{ form.non_field_errors|safe }}{{ form.email.errors }}</span></td></tr>
				<tr><td class="td_add">{{ form.phone_number.label }}</td><td>{{ form.country_code }}-{{ form.phone_number }}</td></tr>
				<tr><td></td><td><span class = "forget-errors">{{ form.country_code.errors }}{{ form.phone_number.errors }}</span></td></tr>
				<tr><td class="td_add">{{ form.number_of_clients.label }}</td><td>{{ form.number_of_clients }}</td></tr>
				<tr><td></td><td><span class = "forget-errors">{{ form.number_of_clients.errors }}</span></td></tr>
				<tr><td class="td_add">{{ form.from_date.label }}</td><td>{{ form.from_date }}</td></tr>
				<tr><td></td><td><span class = "forget-errors">{{ form.from_date.errors }}</span></td></tr>
				<tr><td class="td_add">{{ form.expiry_date.label }}</td><td>{{ form.expiry_date }}</td></tr>
				<tr><td></td><td><span class = "forget-errors">{{ form.expiry_date.errors }}</span></td></tr>
				<tr><td class="td_add">{{ form.sub_domain.label }}</td><td><span class="td_add" style="padding:0px;">{{domain_url}}/</span>{{ form.sub_domain }}</td></tr>
				<tr><td></td><td><span class = "forget-errors">{{ form.sub_domain.errors }}</span></td></tr>
				<tr><td class="td_add">{{ form.company_number.label }}</td><td>{{ form.company_number }}</td></tr>
				<tr><td></td><td><span class = "forget-errors">{{ form.company_number.errors }}</span></td></tr>
				<tr><td class="td_add">{{ form.language.label }}</td><td class="td_add" style="text-align:left">{{ form.language }}</td></tr>
				<tr><td></td><td><span class = "forget-errors">{{ form.language.errors }}</span></td></tr>
				<tr><td class="td_add">{{form.active.label}}</td><td>{{ form.active }}</td></tr>
				<tr><td></td><td>
					<div id="sav" onclick="save()" style="cursor:pointer;"><a class="save">{% trans "Save" %}</a></div>
					<div id="canc"><a href="/admin_management/company_list/" class="save1">{% trans "Cancel" %}</a></div>
				</td></tr>
		   </table>
		</div>	   
	</form>
</div><!--therapist_content end-->
{% endblock %}