{% extends 'base.html' %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/static/css/admin/diary.css" />
<style>
	.fst1
	{
	background: url("/static/img/admin/f.png") repeat-x scroll left top transparent !important;
	}
	.fst1 a
	{
	color:#7CC744 !important;
	}
</style>
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/admin/basic.js"></script>
<script type="text/javascript" src="/static/js/admin/jquery.simplemodal.js"></script>

<script type="text/javascript">
		$(document).ready(function(){
			if($('#id_answer_type').val() == ('2'))
			{
				$('.choice_table').show();			
				$('.slider_table').hide();	
			}
			else if ($('#id_answer_type').val() == ('3'))
			{
				$('.choice_table').show();			
				$('.slider_table').hide();
			}	
			else if ($('#id_answer_type').val() == ('4'))
			{
				$('.choice_table').hide();			
				$('.slider_table').show();	
			}
			else
			{
				$('.choice_table').hide();			
				$('.slider_table').hide();	
			}	
			$('#id_answer_type').bind('change', answer_type);
		});
		

		function answer_type()
		{	
			if($('#id_answer_type').val() == ('2'))
			{
				$('.choice_table').show();			
				$('.slider_table').hide();	
			}
			else if ($('#id_answer_type').val() == ('3'))
			{
				$('.choice_table').show();			
				$('.slider_table').hide();
			}	
			else if ($('#id_answer_type').val() == ('4'))
			{
				$('.choice_table').hide();			
				$('.slider_table').show();	
			}
			else
			{
				$('.choice_table').hide();			
				$('.slider_table').hide();	
			}				
		}		
function save_form(id)
{

//	document.diary_form.action ="/admin_management/diary_question/{{diary_id}}/0";
//	$('#id_diary_form').submit();
	$('#id_diary_form').attr('action',"/admin_management/diary_question_edit/{{diary_id}}/{{ques_id}}/").submit();
	
}
</script>

{% endblock %}

{% block content %}
	<div id="add_heading">
		<p class="add_heading_content">{% trans "Edit Diary Question" %}</p>
	</div>
             
    <div id="add_therapist"><!--add_caregiver start-->
       	<div class="tabl">
			<form enctype="multipart/form-data" id="id_diary_form" name="diary_form" action="." method="post">{% csrf_token %}
	         	<table id="tab" cellpadding="5">
		             <tbody>
		                <tr><td class="td_add">{{ form.question.label }}</td><td>{{ form.question }}</td></tr>
		                <tr><td></td><td><span class = "forget-errors">{{ form.question.errors }}</span></td></tr>
		                <tr><td class="td_add">{{ form.help_text.label }}</td><td>{{ form.help_text }}</td></tr>
		                <tr><td></td><td><span class = "forget-errors">{{ form.help_text.errors }}</span></td></tr>
		                <tr><td class="td_add">{{ form.answer_type.label }}</td><td>{{ form.answer_type }}</td></tr>
		                <tr><td></td><td><span class = "forget-errors">{{ form.answer_type.errors }}</span></td></tr>
		              	<tr><td  colspan="2">
					         	<table class="choice_table" id="tab" cellpadding="5" style="height:5px">
						             <tbody>
							            <tr><td class="td_diary">{{ form1.answer.label }}</td><td>{{ form1.answer }}</td></tr>
							            <tr><td></td><td class="td_diary"><font color="green" size="2">{{ form1.answer.help_text }}</font></td></tr>
				        	      		<tr><td></td><td><span class = "forget-errors">{{ form1.answer.errors }}</span></td></tr>
						              </tbody>
					         	</table>
		              	</td></tr>
		              	<tr><td colspan="2">
					         	<table class="slider_table" id="tab" cellpadding="5">
						             <tbody>
						           		<tr><td class="td_diary">{{ form2.min_value.label }}</td><td>{{ form2.min_value }}</td></tr>
					           			<tr><td></td><td><span class = "forget-errors">{{ form2.min_value.errors }}</span></td></tr>
					           			<tr><td class="td_diary">{{ form2.max_value.label }}</td><td>{{ form2.max_value }}</td></tr>
					           			<tr><td></td><td><span class = "forget-errors">{{ form2.max_value.errors }}{{ form2.non_field_errors|safe }}</span></td></tr>
					           			
						              </tbody>
					         	</table>
		              	</td></tr>
		              	
		                <tr>
			        		<td colspan="3" id="basic-modal_1">
			        			<div id="sav" onclick = "save_form(this.id)"><a href="#" class="save">{% trans "Edit" %}</a></div>
			                	<div id="sav" onclick = "reset()"><a href='/admin_management/diary_edit/{{diary_id}}/' class="save1">{% trans "Cancel" %}</a></div>
			               	</td>
		               	</tr>
	                
		              </tbody>
	         	</table>
         	</form>
        </div>	
	</div><!--add_caregiver end-->    	

{% endblock %}