{% extends 'base.html' %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" href="/resources/demos/style.css" type="text/css" />
<link rel="stylesheet" href="/static/css/admin/datepicker.css" type="text/css"/>
<style type="text/css">


#txt
{
border:none;
text-transform:uppercase;
font-size:13px;
font-family:Arial;
width:122px;
color:#9f9f9f;
font-weight:bold;
}
</style>

{% endblock %}

{% block extrahead %}
<script src="/static/js/datepic.js" type="text/javascript"></script>
<script src="/static/js/datepic1.js" type="text/javascript"></script>
<script type="text/javascript">
function save_form(id)
{
	if ($.trim($('#id_new_password1').val()) == '') {
		$('#tab tr:eq(3) td:eq(1)').html('<span class = "forget-errors">Enter a valid password</span>')
	} else if ($.trim($('#id_new_password2').val()) == '') {
		$('#tab tr:eq(3) td:eq(1)').html('<span class = "forget-errors"></span>')
		$('#tab tr:eq(5) td:eq(1)').html('<span class = "forget-errors">Enter a valid password</span>')
	} else {
		$('#tab tr:eq(3) td:eq(1)').html('<span class = "forget-errors"></span>')
		$('#tab tr:eq(5) td:eq(1)').html('<span class = "forget-errors"></span>')
		$('#id_password_change').submit();
	}
}

</script>
{% endblock %}

{% block content %}
<div id="add_heading">
	<p class="add_heading_content">{% trans "Change Password" %}</p>
</div>
             
<form enctype="multipart/form-data" id="id_password_change" name="password_change" action="." method="post">{% csrf_token %}
    <div id="add_therapist"><!--password_change start-->
          	<div class="tabl">
	           	<table id="tab" cellpadding="5">
	               <tbody>
	               	  <tr><td class="td_add">{{ form.old_password.label }}</td><td>{{ form.old_password }}</td></tr>
	                  <tr><td></td><td><span class = "forget-errors">{{ form.old_password.errors }}</span></td></tr>
	                  <tr><td class="td_add">{{ form.new_password1.label }}</td><td>{{ form.new_password1 }}</td></tr>
	                  <tr><td></td><td><span class = "forget-errors">{{ form.new_password1.errors }}</span></td></tr>
	                  <tr><td class="td_add">{{ form.new_password2.label }}</td><td>{{ form.new_password2 }}</td></tr>
	                  <tr><td></td><td><span class = "forget-errors">{{ form.new_password2.errors }}</span></td></tr>
	                  <tr><td></td><td><div id="sav" onclick = "save_form(this.id)"><a href="#" class="save">{% trans "SAVE" %}</a></div>
	                  <div id="canc" onclick = "reset()"><a href="/admin_management/company_list/" class="save1">{% trans "CANCEL" %}</a></div></td></tr>
	               </tbody>
	           	</table>
         	</div>
   </div><!--password_change end-->
</form>
{% endblock %}