{% extends 'client.html' %}
{% load i18n %}

{% block extrastyle %}
<style type="text/css">
	#messagess a
	{
		color:#7CC744;
	}
	.fst
	{
	background: url("/static/img/client/f.png") repeat-x scroll left top transparent !important;
	}
	.fst a
	{
	color:#7CC744 !important;
	}
</style>
{% endblock %}

{% block extrahead %}
<script type="text/javascript">
$(document).ready(function(){
	$('#id_recipient').val('{{reply_message.created_by.id}}').attr({'disabled' : true});
});
function save_form()
{
	$('#id_recipient').val('{{reply_message.created_by.id}}').attr({'disabled' : false});
	document.msg_form.action ="{% url client_reply_message domain_name reply_id %}";
	$('#id_msg_form').submit();
}
</script>
{% endblock %}

{% block content%}
	<div id="banner_left"><!--banner_left start-->
	   	<p class="left_content">{% trans "New Messages" %}</p>
    </div><!--banner_left end-->
    <div class="clear"></div>
    
	<div class="common_banner"> <!--banner start-->  
   		<div class="common_left"><!--common_left start-->
			<ul><!--common_left ul start-->
				{% if new_messages %}
					<li id="messagess"><a href="{% url client_message_list domain_name %}">{% trans "Inbox" %}({{ new_messages|length }})</a></li>
				{% else %}
					<li id="messagess"><a href="{% url client_message_list domain_name %}">{% trans "Inbox" %}</a></li>
				{% endif %}
				<li id="send"><a href="{% url client_sent_message_list domain_name %}">{% trans "Sent Message" %}</a>	</li>
				<li id="trash"><a href="{% url client_trash_message_list domain_name %}">{% trans "Trash" %}</a>	</li>
				<li id="chat"><a href="{% url client_chat_details domain_name %}">{% trans "Chat History" %}</a>	</li>
			</ul><!--common_left ul end-->
			<div id="online_users">  </div>
   		</div><!--common_left end-->
	</div><!--banner end-->
	
	
	<div id="newmessage_frm" style="float:right;margin-bottom:65px;margin-top:17px;"><!--newmessage_frm start-->
	
	<form enctype='multipart/form-data' name='msg_form' id='id_msg_form' action='.' method='post'>{% csrf_token %}
		<table align="center" cell padding="5" width="748">
			<tbody>	
				<tr><td width="276" height="51" align="right">{{ form.recipient.label }}</td><td width="465">{{ form.recipient }}</td></tr>
				<tr><td></td><td><span class = "forget-errors">{{ form.recipient.errors }}</span></td></tr>
				<tr><td height="43" align="right">{{ form.title.label }}</td><td>{{ form.title }}</td></tr>
				<tr><td></td><td><span class = "forget-errors">{{ form.title.errors }}</span></td></tr>
				<tr><td height="45" align="right">{{ form.description.label }}</td><td>{{ form.description }}</td></tr>
				<tr><td></td><td><span class = "forget-errors">{{ form.description.errors }}</span></td></tr>
				<tr><td height="53" align="right">{{ form.attachment.label }}</td><td>{{ form.attachment }}</td></tr>
				<tr><td></td><td><span class = "forget-errors">{{ form.attachment.errors }}</span></td></tr>
				<tr><td height="55"></td>
					<td>  
					<div id="sav" ><a href="#" id="id_save" onclick="save_form()"><p class="save">{% trans "Send" %}</p></a></div>
					<div id="sav" ><a href="{% url client_message_list domain_name %}" id="id_save" "><p class="save">{% trans "Cancel" %}</p></a></div>
 					</td></tr>
				<tr><td></td><td>&nbsp;</td></tr>
			</tbody>
		</table>
</form>
	</div>

{% endblock %}