{% extends 'client.html' %}
{% load i18n %}

{% block extrastyle %}
<style type="text/css">
	.fst3
	{
	background: url("/static/img/client/f.png") repeat-x scroll left top transparent !important;
	}
	.fst3 a
	{
	color:#7CC744 !important;
	}
</style>
{% endblock %}

{% block extrahead %}
<script type="text/javascript">
$(document).ready(function(){
	$('#page_number').val({{ total_sessions.number }}).change(function(){
		var number = $(this).val();
		window.location.href = '{% url client_treatment_view domain_name module_id %}?page=' + number
	});	
	})

</script>
{% endblock %}
{% block content%}

         <div id="banner_left"><!--banner_left start-->
             <p class="left_content">{{company_client.module|title}} {% trans "Sessions" %}</p>
         </div><!--banner_left end-->
         
         <div style="float:right;margin: 11px 0 0;">
			<div id="sav" ><a href="{% url client_treatment_list domain_name %}" ><p class="save" id="id_save"> {% trans "BACK" %}</p></a></div>
		</div>
	
    	 <div class="clear"></div>         

    	<div class="test_new"><!--test_new start-->
	       <table width="952" cellpassing="5px" border="1" align="center">
	       	{% if total_sessions.object_list %}
	       		{% for treat in total_sessions.object_list %}
			       <tr>
			       <td align="center" height="58" class="complete">
			       	  {% if treat.activate_session  and treat.completed %}
			          	<a style="color:orange;" href="{% url client_treatment_session domain_name treat.id %}" style="color:#000000; text-decoration:none; color: #0033CC;">{{treat.sessions}}</a>
			          {% else %}
			          	{% if treat.activate_session %}
			          	<a style="color:blue;" href="{% url client_treatment_session domain_name treat.id %}" style="color:#000000; text-decoration:none; color: #0033CC;">{{treat.sessions}}</a>
			          {% else %}
			          	{{treat.sessions}}
			          {% endif %}{% endif %}
			       </td>
			       </tr>
		      	{% endfor %}
		    {% else %}
		    	<tr align="center" height="58" class="complete"><td>{% trans "No Sessions" %}</td></tr>
		    {% endif %}
	       </table>
       </div><!--test_new start-->
	   {% if total_sessions.object_list %}
	   	<div class="pagination" align="center">
	    	<table style="border: 0px; margin-top:15px;" width="15%">
	    		<tbody>
	    			<tr>
	    				<td width="10%" align="left">
					        {% if client_treatments.has_previous %}
					            <a href="?page={{ total_sessions.previous_page_number }}"><img src="/static/img/admin/left1.png" /></a>
					        {% endif %}
	    				</td>
	    				<td width="80%" align="center">
							<select id="page_number">
								{% for each in num_pages %}
									<option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
								{% endfor %}
							</select>
	    				</td>
	    				<td width="10%" align="right">
					        {% if total_sessions.has_next %}
					            <a href="?page={{ total_sessions.next_page_number }}"><img src="/static/img/admin/rr1.png" /></a>
					        {% endif %}
	    				</td>
	    			</tr>
	    		</tbody>
	    	</table>
		</div>  
	{% endif %} 	
{% endblock %}