{% extends 'client.html' %}
{% load i18n %}

{% block extrastyle %}
<style type="text/css">
	.fst2
	{
	background: url("/static/img/client/f.png") repeat-x scroll left top transparent !important;
	}
	.fst2 a
	{
	color:#7CC744 !important;
	}
</style>
{% endblock %}

{% block extrahead %}
<script type="text/javascript">
    $(document).ready(function() {
    	$('#page_number').val({{ diary_list.number }}).change(function(){
			var number = $(this).val();
			window.location.href = '{% url client_diary_list domain_name %}?page=' + number
		});
	});
</script>	
{% endblock %}

{% block content %}

     <div id="banner_left"><!--banner_left start-->
          <p class="left_content">{% trans "Diary List" %}</p>
     </div><!--banner_left end-->
     <div class="clear"></div>         

     <div class="test_new"><!--test_new start-->
	 	<table width="952" cellpassing="5px" border="1" align="center">
			{% if diary_list.object_list %}	
		    	{% for diary in diary_list.object_list %}
			       <tr>
			       		<td align="center" height="35px" class="subject"><a href="{% url client_diary_show domain_name diary.id %}" style="color: #0033CC;text-decoration:none;">{{ diary.diary }}</a></td>
			       </tr>
			   	{% endfor %}
			{% else %}
			       <tr>
			       		<td align="center" height="35px" class="subject"><a href="#" style="color: #0033CC;text-decoration:none;">{% trans "No Diary found" %}</a></td>
			       </tr>
      		{% endif %} 	   
	       </table>
     </div><!--test_new end-->

     {% if diary_list.object_list %}        
	   	<div class="pagination" align="center">
	    	<table style="border: 0px; margin-top:15px;" width="15%">
	    		<tbody>
	    			<tr>
	    				<td width="10%" align="left">
					        {% if diary_list.has_previous %}
					            <a href="?page={{ diary_list.previous_page_number }}"><img src="/static/img/admin/left1.png" /></a>
					        {% endif %}
	    				</td>
	    				<td width="80%" align="center">
							<select id="page_number">
								{% for each in num_pages %}
									<option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
								{% endfor %}
							</select>
	    				</td>
	    				<td width="10%" align="right">
					        {% if diary_list.has_next %}
					            <a href="?page={{ diary_list.next_page_number }}"><img src="/static/img/admin/rr1.png" /></a>
					        {% endif %}
	    				</td>
	    			</tr>
	    		</tbody>
	    	</table>
		</div>  
	{% endif %}       
{% endblock %}