{% extends 'client.html' %}

{% block extrastyle %}
<style type="text/css">
	.list7
	{
	background: url("/static/img/client/f.png") repeat-x scroll left top transparent !important;
	}
	.list7 a
	{
	color:#7CC744 !important;
	}
	.list8 a
	{
	color:#fff !important;
	}
</style>
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block content %}
		<div id="banner_left"><!--banner_left start-->
             	<p class="left_content">Webcam</p>
         </div><!--banner_left end-->
         <div class="clear"></div>
         <div id="newmessage_frm"><!--newmessage_frm start-->

		</div><!--newmessage_frm end-->

{% endblock %}