{% extends 'index.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block extrastyle %}
{{ block.super }}
{% endblock %}

{% block content %}
<form action="" method="post" id="password_change_form">{% csrf_token %}
	<div id="form-div">  
		<h3>{% trans "Reset your password here..." %}</h3>
		<table cellpadding="3" cellspacing="3" border="0" style="margin-left:65px;">
			<tbody>
				<tr><td>{{ form.username }}</td></tr>
				<tr><td><span class="errors">{{ form.username.errors }}</span></td></tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td><input type="submit" class="login-button" value='{% trans "Send" %}' /><a href="javascript:history.back()" style="text-decoration:none;"><input type="button" class="login-button1" value='{% trans "Cancel" %}' /></a></td></tr>
 				<tr><td>&nbsp;</td></tr>
			</tbody>
		</table>
	</div>
</form>
{% endblock %}
    
    
