{% extends 'company/client_home.html' %}
{% load i18n %}
{% block extrastyle %}
<link rel='stylesheet' type='text/css' href="/static/css/company/cupertino/theme.css" />
<link rel='stylesheet' type='text/css' href="/static/css/company/fullcalendar.css"/>
<link rel='stylesheet' type='text/css' href="/static/css/company/fullcalendar.print.css" media='print' />
<style type="text/css">
#calendar {
		width: 500px;
		margin: 0 auto;
		}
#newmessage_frm_test
	{
		width:730px;
		height:580px;
		overflow:auto;
		float:right;
		margin-top: 10px;
		text-align: center;
		font-size: 13px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		border:1px solid #D0D0D0;
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		padding:20px;
	}
#current3
{
background: url("/static/img/admin/f.png") repeat-x scroll left top transparent !important;
}	
#current3 a
{
color:#7CC744;
}
#Screening a
{
color:#25B513 !important;
}
.assign_list {
    color: #5B5B5B;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    padding-left:18px;
}
.td_add a{
text-decoration:none;
color:black;
}
</style>
{% endblock %}

{% block extrahead %}
<script type='text/javascript'>
$(document).ready(function() {
	
	$('#page_number').val({{ assignment_questions.number }}).change(function(){
		var number = $(this).val();
		window.location.href = '{% url company_client_assignment_view domain_name client_id assign_id %}?page=' + number
	});
	
});
function remove_assignment(){
	var confirmed = confirm('{% trans "You have chosen to delete this Assignment" %}');
    return confirmed;
}
</script>
{% endblock %}

{% block content %}{{block.super}}{% block clientcontact %}{% endblock %}
	 <div id="banner_left"><!--banner_left start-->
	        <p class="left_content">{% trans "Assignment Details" %}</p>
	 </div><!--banner_left end-->
 
	<div id="banner_right" style="width:500px; margin: -35px 0 0 0;" ><!--banner_right start-->  
		<div class="newmessage"><!--newmessage start-->
			<a href="{% url company_client_assignment_details domain_name client_id assign_id %}" >{% trans "Back" %}</a>
		</div>
		<div class="newmessage" ><!--newmessage start-->
			<a href="{% url company_client_assignment_edit domain_name client_id assign_id %}" >{% trans "Edit Assignment" %}</a>
		</div>
		<div class="newmessage" ><!--newmessage start-->
			<a href="{% url company_client_assignment_view domain_name client_id assign_id %}" >{% trans "View Assignment" %}</a>
		</div>	
	</div>  
		
 <div id="newmessage_frm_test"><!--newmessage_frm start-->
	<div id="banner_left"><!--banner_left start-->
        <p class="left_content" align="left">{{selected_test|title}} {% trans "Clusters" %}</p>
 	</div><!--banner_left end-->
 
 	<div class="clear"></div>	

	<table id="tab" cellpadding="5" cellspacing="5" style="border-left:1px solid #d0d0d0;">
	{% if assignment_questions.object_list %}
		{% for question in assignment_questions.object_list %}
			<tr ><td class="td_add" style="text-align:left;" >{{forloop.counter}}.</td><td class="td_add" style="text-align:left;" ><p><a href="{% url company_client_assignment_questions domain_name client_id assign_id question.id %}" >{{ question.cluster_name }}</a></p></td></tr>
			<tr><td></td><td></td></tr>
		{% endfor %}	
	{% else %}
		<div class="assign_list"  align="left">{% trans "No Assignment Clusters found" %}</div>
	{% endif %} 
	</table>
	
	<div class="clear"></div>
	
	{% if assignment_questions.object_list %}
	<div class="pagination" align="center" style="margin: 0 auto;width: 46px;">
    	<table style="border: 0px; margin-top:15px;" width="15%">
    		<tbody>
    			<tr>
    				<td width="10%" align="left">
				        {% if assignment_questions.has_previous %}
				            <a href="?page={{ assignment_questions.previous_page_number }}"><img src="/static/img/admin/left1.png" /></a>
				        {% endif %}
    				</td>
    				<td width="80%" align="center">
						<select id="page_number">
							{% for each in num_pages %}
								<option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
							{% endfor %}
						</select>
    				</td>
    				<td width="10%" align="right">
				        {% if assignment_questions.has_next %}
				            <a href="?page={{ assignment_questions.next_page_number }}"><img src="/static/img/admin/rr1.png" /></a>
				        {% endif %}
    				</td>
    			</tr>
    		</tbody>
    	</table>
	</div>
	{% endif %} 
	
{% endblock %}