{% extends 'company/client_home.html' %}
{% load i18n %}

{% block extrastyle %}
<style type="text/css">

#Webcam a
{
color:#25B513 !important;
}
#current3
{
background: url("/static/img/admin/f.png") repeat-x scroll left top transparent !important;
}
#current3 a
{
color:#7CC744;
}
	
</style>
{% endblock %}

{% block extrahead %}
<script type="text/javascript">
$(document).ready(function(){
	$('#id_form').val('{{form_id}}').parent().parent().hide();
});
function save_form()
{
	document.client_form_feedback.action ="{% url company_client_forms_view domain_name client_id form_id %}";
	$('#id_client_form_feedback').submit();
}
</script>
{% endblock %}

{% block content %}{{block.super}}{% block clientcontact %}{% endblock %}
{% load truncate_filters %}	
	<div id="banner_left"><!--banner_left start-->
	  	<p class="left_content">{% trans "Form :" %} {{company_form}}</p>
	</div><!--banner_left end-->
	
 	<div id="banner_right" style="width:393px; margin: 11px -12px 0 0;"><!--banner_right start-->  
 		<div class="newmessage" style="padding-left:15px;"><!--newmessage start-->
			<a href="{% url company_client_forms_list domain_name client_id %}" >{% trans "Back" %}</a>
		</div>
		<div class="newmessage"><!--newmessage start-->
			<a href="{% url company_client_forms_edit domain_name client_id form_id %}" >{% trans "Edit Form" %}</a>
		</div><!--newmessage end-->
	</div>  
 
	<form enctype='multipart/form-data' name='client_form_feedback' id='id_client_form_feedback' action='.' method='post'>{% csrf_token %}
	    <div id="newmessage_frm" style="margin-bottom:0!important"><!--newmessage_frm start--><!--FORM START-->
			<table id="tab" cellpadding="5" style="margin-left:20px">
				<tbody>
					<tr><td class="goal">{{ selected_form.form }}:</td><td >{{ selected_form.caregiver }}</td></tr>
				</tbody>
			</table>
			{% if not intake_form and client_intake_form %}
			<table>
				<tr><td>{{client_intake_form.name.label}}</td><td>{{client_intake_form.name}}</td></tr>
			</table>
			{% endif %}
			<br></br><br></br>
			
		{% if intake_form %}
			{% if exist_feedback %}
				<div>
			    	<p style="color:green; font-family: Arial; margin: 0; margin-left:5px;">{% trans "Comments :" %} </p><br>
					{% for feedback in exist_feedback %}
						{% if feedback.created_by == request.user %}
						<p style="margin-left:5px;color:blue;" class="feed">me : {{feedback.feedback }}</p><br>
						{% else %}
						<p style="margin-left:5px;color:brown;" class="feed">{{feedback.created_by}} : {{feedback.feedback }}</p><br>
						{% endif %}
					{% endfor %}
				</div><br>
			{% endif %}
		</div><!--newmessage_frm end-->
		
		<div style="float:right; width:80%;margin-top:0!important">
		  	<p class="left_content">{% trans "Feed Back" %}</p>
			<div style="margin-top:10px; width:100%;">
				<form enctype="multipart/form-data" id="id_client_animation_feedback" name="client_animation_feedback" action="." method="post">{% csrf_token %}
					<table width="771" cellpadding="5" align="center">
						<tr><td class="td_client" align="center">{{ form.form.label }}</td><td align="left">{{ form.form }}</td></tr>
						<tr><td class="td_client" align="center">{{ form.feedback.label }}</td><td align="left">{{ form.feedback }}</td></tr>
						<tr><td></td><td><span class = "forget-errors">{{ form.feedback.errors }}</span></td></tr>
						<tr><td></td><td><div id="sav" ><a href="#" onclick="save_form()" ><p class="save" id="id_save">{% trans "Send" %}</p></a></div></td></tr>
					</table>
				</form><br><br>	
			</div>
		</div>	
		{% endif %}
		
	</form><!--FORM START-->{% endblock %}