{% extends 'company/configuration.html' %}
{% load i18n %}

{% block extrastyle %}
<style type="text/css">

#Location a
{
color:#25B513 !important;
}
#imp
{
background: url("/static/img/admin/f.png") repeat-x scroll left top transparent !important;
}
#imp a
{
color:#7CC744;
}	
</style>

{% endblock %} 

{% block extrahead %}
<script type="text/javascript">
 
</script>
{% endblock %}

{% block content %}{{block.super}}{% block configurationcontact %}{% endblock %}
	<div id="banner_left"><!--banner_left start-->
		<p class="left_content">{% trans "Location Details" %}</p>
	</div><!--banner_left end-->
	
	<div id="banner_right" ><!--banner_right start-->  
		<div class="newmessage"><!--newmessage start-->
			<a href="{% url company_config_location_update domain_name company_id %}">{% trans "Update" %}</a>
		</div><!--newmessage end-->
	</div>
	 
  	<form enctype='multipart/form-data' name='client_form' id='id_client_form' action='.' method='post'>{% csrf_token %}
    <div id="newmessage_frm" style="margin-top:0;width:715px;"><!--newmessage_frm start--><!--FORM START-->
		<table id="tab" cellpadding="12" style="margin-left:20px">
	        <tbody>
  			    {% if location.country %}
  			    	<tr><td class="td_config">{{ form.country.label }}</td><td>{{ location.country.name }}<img style="margin-left:10px;" src="{{ location.country.flag }}" /></td></tr>
				{% else %}
			    	<tr><td class="td_config">{{ form.country.label }}</td><td>{% trans "None" %}</td></tr>
				{% endif %}
  			    
  			    {% if location.continent %}
  			    	<tr><td class="td_config">{{ form.continent.label }}</td><td>{{ location.continent }}</td></tr>
				{% else %}
			    	<tr><td class="td_config">{{ form.continent.label }}</td><td>{% trans "None" %}</td></tr>
				{% endif %}

        	</tbody>
	    </table>
</div><!--newmessage_frm end-->
</form><!--FORM START-->
{% endblock %}