<html>
	<head>
		<title>404 Page</title>
		<style type="text/css">
			#content
			{
			    background-color: #25B513;
			    border-radius: 10px 10px 10px 10px;
			    color: #FFFFFF;
			    font-size: 40px;
			    padding: 15px;
			    width: 400px;
			}
		</style>
	</head>
	<body>
		<table height="100%" width="100%">
			<tr>
				<td align="center" valign="middle">
					<img src="/static/img/admin/logo.jpg" height="100px" width="400px"><br />
					<div id="content" align="center">Page not found</div>
				</td>
			</tr>
		</table>
	</body>
</html>