{% extends 'caregiver.html' %}
{% load i18n %}

{% block extrahead %}
<script type="text/javascript">


$(function(){
	$('#page_number').val({{ client_chat_history.number }}).change(function(){
		var number = $(this).val();
		window.location.href = '{% url caregiver_chat_details domain_name %}?page=' + number
	});
	$("#id_details").hide();

});
function call_details(){
	$("#id_details").show();

}
</script>
{% endblock %}

{% block extrastyle %}
<style>
.tdclass
{
text-align:center;
}
#current2 a
{
color:#7CC744;
}
#current2
{
background: url("/static/img/admin/f.png") repeat-x scroll left top transparent !important;
}
#chat a
{
color:#25B513 !important;
}
.middle_content{
 color: #25B513;
 font-family: Arial;
 font-size: 18px;
 font-weight: bold;
 margin: 0;
 padding: 0px 0px 9px 0px;
 text-align: center;
}	
</style>
{% endblock %} 
{% block content %}{{block.super}}{% block clientcontact %}{% endblock %}

	<div id="banner_left"><!--banner_left start-->
		<p class="left_content">{% trans "Messages" %}</p>
	 </div><!--banner_left end-->
	 
	<div class="clear"></div>
	
	<div class="common_banner"> <!--banner start-->  
   		<div class="common_left"><!--common_left start-->
			<ul><!--common_left ul start-->
				{% if new_messages %}
					<li id="messagess"><a href="{% url caregiver_message domain_name %}">{% trans "Inbox" %}({{ new_messages|length }})</a></li>
				{% else %}
					<li id="messagess"><a href="{% url caregiver_message domain_name %}">{% trans "Inbox" %}</a></li>
				{% endif %}
				<li id="send"><a href="{% url caregiver_sent_message domain_name %}">{% trans "Sent Message" %}</a>	</li>
				<li id="trash"><a href="{% url caregiver_trash_message domain_name %}">{% trans "Trash" %}</a>	</li>
				<li id="chat"><a href="{% url caregiver_chat_details domain_name %}">{% trans "Chat History" %}</a>	</li>
			</ul><!--common_left ul end-->
			<div id="online_users">  </div>

   		</div><!--common_left end-->
	</div><!--banner end-->
	
	<div id="newmessage_frm" style="float:right;margin-bottom:65px;margin-top:-25px; border:none;"><!--newmessage_frm start-->
		<p class="middle_content"> {% trans "Chat History" %}</p>
		<table align="center" cell padding="5" width="748" style="border: 1px solid #D0D0D0;border-radius: 10px 10px 10px 10px;">
			<tbody>	
	    		{% if client_chat_history.object_list %}
		    		{% for chat in client_chat_history.object_list %}
		                <tr class="first" style="height:24px;">
			                <td height="44" class="name"><a href='{% url caregiver_chat_persons domain_name chat.received_at|date:"Y-m-d" %}'>{{chat.received_at}}</a></td>
			           </tr>
					{% endfor %}
				{% else %}
					<tr class="first" style="height:24px;">
						<td height="44" class="name">{% trans "No Chat Available" %}</td>
					</tr>
				{% endif %}
	            </tbody>
		</table>
	
	{% if client_chat_history.object_list %}
	   	<div class="pagination" align="center">
	    	<table style="border: 0px; margin-top:15px;" width="15%">
	    		<tbody>
	    			<tr>
	    				<td width="10%" align="left">
					        {% if client_chat_history.has_previous %}
					            <a href="?page={{ client_chat_history.previous_page_number }}"><img src="/static/img/admin/left1.png" /></a>
					        {% endif %}
	    				</td>
	    				<td width="80%" align="center">
							<select id="page_number">
								{% for each in num_pages %}
									<option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
								{% endfor %}
							</select>
	    				</td>
	    				<td width="10%" align="right">
					        {% if client_chat_history.has_next %}
					            <a href="?page={{ client_chat_history.next_page_number }}"><img src="/static/img/admin/rr1.png" /></a>
					        {% endif %}
	    				</td>
	    			</tr>
	    		</tbody>
	    	</table>
		</div> 
	{% endif %}
	</div>

{% endblock %}