{% extends 'caregiver/client_home.html' %}
{% load i18n %}

{% block extrastyle %}
<style type="text/css">

#diary_list a
{
color:#25B513 !important;
}
#current3
{
background: url("/static/img/admin/f.png") repeat-x scroll left top transparent !important;
}
#current3 a
{
color:#7CC744;
}
	
</style>

{% endblock %} 

{% block extrahead %}
<script type="text/javascript">

$(document).ready(function(){
	$('#id_client').val('{{client_id}}').parent().parent().hide();
});

function save_form()
{
	document.client_diary_add_form.action ="{% url caregiver_client_diary_add domain_name client_id %}";
	$('#id_client_diary_add_form').submit();
}
</script>
{% endblock %}

{% block content %}{{block.super}}{% block clientcontact %}{% endblock %}
	<div id="banner_left"><!--banner_left start-->
	  	<p class="left_content">{% trans "Create New Diary" %}</p>
	</div><!--banner_left end-->
	<form enctype="multipart/form-data" id="id_client_diary_add_form" name="client_diary_add_form" action="." method="post">{% csrf_token %}
	    <div id="newmessage_frm"><!--newmessage_frm start--><!--FORM START-->
			<table id="tab" cellpadding="5" style="margin-left:20px">
		        <tbody>
	  			    <tr><td class="td_add">{{ form.client.label }}</td><td>{{ form.client }}</td></tr>
					<tr><td class="td_add">{{ form.diary.label }}</td><td>{{ form.diary }}</td></tr>
					<tr><td></td><td><span class = "forget-errors">{{ form.non_field_errors|safe }}{{ form.diary.errors }}</span></td></tr>
					<tr><td class="td_add">{{ form.caregiver.label }}</td><td>{{ form.caregiver }}</td></tr>
					<tr><td></td><td><span class = "forget-errors">{{ form.caregiver.errors }}</span></td></tr>
					<tr><td class="td_add">{{ form.intervel.label }}</td><td>{{ form.intervel }}</td></tr>
					<tr><td></td><td><span class = "forget-errors">{{ form.intervel.errors }}</span></td></tr>
					<tr><td class="td_add">{{form.active.label}}</td><td>{{ form.active }}</td></tr>
					<tr><td></td><td><div id="sav" onclick = "save_form(this.id)"><a href="#" class="save">{% trans "Save" %}</a></div>
	                <div id="canc" onclick = "reset()"><a href="{% url caregiver_client_diary_list domain_name client_id %}" class="save1">{% trans "Cancel" %}</a></div></td></tr>
	        	</tbody>
		    </table>
		</div><!--newmessage_frm end-->
	</form><!--FORM START-->
{% endblock %}